// How it works
.how-it-works {
	background: $teal;
	color: white;
	position: relative;

	h3 {
		color: white;
	}

	h6 {
		color: white;
		padding: 10px;
	}

	i {
		background: white;
		border-radius: 100%;
		font-size: 40px;
		padding: 35px;
		width: 80px;
		height: 80px;
		line-height: 80px;
		text-align: center;

		&.fa-vial {
			color: $hub;
		}
		&.fa-briefcase-medical {
			color: $teal;
		}
		&.fa-monitor-heart-rate {
			color: $orange;
		}
	}

	p {
		font-weight: 300;
	}
}

.teal-orange-lines {
	position: absolute;
	bottom: -15rem;
	left: -10rem;
	z-index: 2;
}
