.bloomly-banner {
	width: 100%;
	height: 100vh;
	position: relative;
	padding: 0;
	margin: 0;
}

.banner-container {
	width: 100%;
	height: 100%;
}

.banner-slide {
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.banner-slide-content {
	width: 90%;
	max-width: 500px;

	p {
		color: white;
		padding: 10px;
	}

	h2 {
		color: white;
		font-size: 2em;
		line-height: 1.4;
		text-transform: lowercase;
	}
}

.banner-button-next,
.banner-button-prev {
	width: 30px;
	height: 30px;
	line-height: 30px;
	border: 2px solid white;
	border-radius: 30px;
	outline: none;
	position: absolute;
	transition: 200ms;

	&:hover {
		background: $teal;
		border-color: $teal;
		color: white;
	}
}

.banner-button-next {
	right: 200px;
}

.banner-button-prev {
	left: 200px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
	display: none;
}

.scroll-down {
	color: white;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border: 2px solid white;
	border-radius: 30px;
	outline: none;

	display: block;
	margin: 0 auto;
	position: absolute;
	bottom: 4rem;
	left: 50%;
	right: 50%;
	text-align: center;
	z-index: 3;

	animation: bounce 3s infinite;

	&:hover {
		background: $teal;
		border-color: $teal;
		color: white;
	}
}

@keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-20px);
	}
	60% {
		transform: translateY(-12px);
	}
}

.left-green-shape {
	position: absolute;
	top: 20%;
	left: -3rem;
	z-index: 2;
}

.pink-shape {
	position: absolute;
	bottom: -4rem;
	left: 2rem;
	z-index: 2;
}

.hub-orange-lines {
	position: absolute;
	bottom: 0;
	right: -3.5rem;
	bottom: -4rem;
	z-index: 2;
}

.orange-green-lines {
	position: absolute;
	top: 8rem;
	right: -5rem;
	z-index: 2;
}

@media (max-width: 960px) {
	.banner-controlls {
		position: absolute;
		bottom: 6rem;
		left: 50%;
		right: 50%;
		max-width: 180px;
	}

	.left-green-shape,
	.pink-shape,
	.hub-orange-lines,
	.orange-green-lines {
		display: none;
	}

	.banner-button-next,
	.banner-button-prev {
		margin-top: 250px;
	}
}

@media (max-width: 768px) {
	.scroll-down {
		display: none;
	}
}
