.questionaire-cta {
	background: $pink;
	//text-align: center;
	position: relative;

	&-content {
		max-width: 600px;
		width: 100%;
		margin: 0 auto;
		//text-align: center;

		a {
			display: inline-block;
		}
		p {
			margin: 0;
		}
	}
}

.orange-shape {
	position: absolute;
	left: -4rem;
	bottom: -2rem;
	z-index: -1;
}

.green-shape {
	position: absolute;
	top: 2rem;
	right: -4rem;
	z-index: -1;
}
