.dashboard {
    padding-top: 10rem;
}

.icon-green { color: $tealLight; }
.icon-teal { color: $teal; }
.icon-orange { color: $orange; }
.icon-hub { color: $hub; }

.your-stats {
    border: 1px solid $blue;
    border-radius: 5px;
}

.your-stats-top {
    border-bottom: 1px solid $blue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 30px;

    &-right {
        display: flex;
        align-items: center;

        p {
            margin-top: 10px;
        }

        a {
            display: inline-block;
            margin-left: 20px;
        }
    }
}

.your-stats-details {
    padding: 20px;
}

.stats-basic-info-text span {
    font-size: 14px;
    font-weight: normal;
    padding: 0 10px;
}

.stat-box-rect {
    border: 1px solid $blue;
    border-radius: 5px;
    color: $blue;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 10px 0;

    i {
        color: $teal;
        font-size: 30px;
        margin: 0;
    }

    h6 {
        margin: 0;
    }
}

.stat-box-rect:nth-of-type(6) i {
    color: $orange;
}

.stat-box-rect:nth-of-type(2) i {
    color: $orange;
}

.stat-box-rect:nth-of-type(3) i {
    color: $hub;
}

.stat-box-rect:nth-of-type(8) i {
    color: $hub;
}

.stat-box-circle {
    width: 60px;
    height: 60px;
    border: 1px solid $teal;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 15px;
    margin: 20px;

    p {
        color: $blue;
        font-size: 12px;
        margin-top: 20px;

         span {
             color: $teal;
             font-weight: normal;
         }
    }
}

.stat-box-circle:nth-of-type(2) {
    border-color: $orange;

    p span {
        color: $orange;
    }
}

.stat-box-circle:nth-of-type(3) {
    border-color: $hub;
}

.stats-details {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 35%;
    }
}

.your-stats-bottom {
    border-top: 1px solid $blue;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    a > h4 {
        color: $teal;
    }

    i {
        font-size: 16px;
    }

    a:hover h4 {
        color: $hub;
    }

    a:hover i {
        transform: translateX(3px);
        transition: 0.4s ease-in-out;
    }
}

// Test Result
.test-result {
    border: 1px solid $blue;
    border-radius: 5px;
    padding: 40px 30px 25px 30px;
    margin: 10px 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    p {
        font-weight: normal;
        line-height: 0.4;

        span {
            font-weight: 300;
            margin-left: 30px;
        }
    }
}

// Modal
#testDetails .uk-modal-body {
    color: $blue;
    h5 {
        margin-bottom: 0;
    }

    span {
        font-weight: normal;
    }
}

.test-details-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    .test-details-header-left {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        img {
            margin-right: 20px;
        }
    }
}

@media (max-width: 960px) {
    .stat-boxes {
        display: flex;
        justify-content: space-between;
    }

    .stat-box-rect {
        width: calc(50% - 20px) !important;
        height: 120px;
    }
}

@media (max-width: 480px) {
    .stat-box-circle {
        width: 60px;
        padding: 0;

        p {
            font-size: 10px;
        }
    }

    .test-result {
        p {
            line-height: 1.2;

            span {
                margin-left: 0;
            }
        }
    }
}