.premium-subscriptions-banner {
	background: $hub;
	color: white;
	position: relative;
	// height: 65vh;

	h1 {
		color: white;
	}

	.scroll-down-icon {
		margin-top: 3rem;

		i {
			font-size: 30px;
		}
	}
}

.benefits {
	h3 {
		margin: 0;
	}

	h5,
	h6 {
		color: $teal;
		margin: 0;
		padding: 0;
	}
}

.benefit-box {
	display: flex;
	align-items: center;

	&-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 80px;
		height: 80px;
		border-radius: 50%;
		background: $hub;
		color: white;
		margin-right: 20px;

		i {
			font-size: 24px;
		}
	}

	p {
		margin: 0;
		padding: 0;
	}
}

.join-the-club-cta {
	article {
		background: $teal;
		border-radius: 5px;
		color: white;
		padding: 5rem 0;

		small {
			display: block;
			padding-top: 20px;
		}
	}
}
